@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Style for NavBar.jsx */
.navSection {
  height: 60px;
  width: 100%;
  background: #318ce7;
  border: 1px s;
}
.navSection ul li a {
  margin-top: 15px;
  padding: 6px;
  text-decoration: none;
}
/* Style for HomePage.jsx */
.productImage {
  padding: 15px;
  height: 100px;
  width: 100px;
  margin-left: 70px;
}
.productCard {
  border: 1px solid #ccc;
  height: auto;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 1px 0 1px silver;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.productTitle {
  text-align: left;
  padding: 10px;
  font-weight: bold;
  word-spacing: 1px;
  font-size: 13px;
}
.productPrice {
  font-weight: bold;
  padding: 6px;
  margin-top: -10px;
}
.productCategory {
  text-transform: capitalize;
  padding: 6px;
  margin-top: -10px;
}
.productSold {
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  margin-top: -10px;
}
.productCard:hover {
  transform: scale(1.1);
}
.welcomeText h1 {
  text-align: center;
  font-size: 25px;
  font-family: monospace;
}
.favItems h3 {
  padding: 5px;
  font-size: 18px;
  margin-left: 10px;
}
.productRatings {
  padding: 5px;
  margin-top: -10px;
  font-size: 16px;
  margin-left: 6px;
}
